{% extends 'global/global.html' %}
{% load static %}

{% block title %}Funcionários{% endblock title %}

{% block head %}
        <link href="{% static 'app/css/employees.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}
        <div id="content" class="container">
            <div class="header">
                <a href="{% url "app:employee-list" %}">
                    <img src="{% static 'global/images/black_logo.png' %}" alt="Logo SMI" class="logo" id="logo-img" title="Recarregar a Página"/>
                </a>
                <div class="header-text">
                    <h1>Lista de Funcionários</h1>
                    <div class="search-container">
                        <input type="text" id="search-input" placeholder="Pesquise aqui..." oninput="filtrarRamais()"/>
                    </div>
                </div>
            </div>
            <table id="lista-ramais">
                <thead>
                    <tr>
                    <th><div class="header-cell">Nome</div></th>
                    <th><div class="header-cell">Ramal</div></th>
                    <th><div class="header-cell">Setor</div></th>
                    {% if request.user.is_staff %}
                    <th><div class="header-cell">Máquina</div></th>
                    {% endif %}
                    </tr>
                </thead>
            <tbody></tbody>
            </table>
            <div id="paginacao" class="paginacao-container"></div>
        </div>
        {{ data|json_script:"ramais-data" }}
        <script>
            const isStaff = {% if request.user.is_staff %}true{% else %}false{% endif %};
        </script>
        <script src="{% static 'app/js/employees.js' %}"></script>
{% endblock body %}